/* General Styles */

body {
  background-image: url(../../assets/bg2.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 88%;
  background-clip: content-box;
  background-size: 52% 68%;
}

.button {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  font-size: 24px;
  text-align: center;
}

a {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}


/* Header Section */
.header {
  padding: 8px;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-logo-text {
  margin-left: 16px;
  font-size: 28px;
  font-family: 'PT Sans', sans-serif;
}

.header-nav a {
  margin-right: 32px;
  font-size: 24px;
  color: #1a1a1a;
}

/* Main Section */

.main {

  z-index: 5;
}

.main > .container {
  margin: 80px auto;
}

.main-left {
  width: 60%;
}

.main-left-title {
  font-size: 64px;
  margin-left: 15%;
  margin-bottom: 16px;
  color: #F9BA48;
}

.main-left-small {
  font-size: 32px;
}

.main-left-subtitle {
  font-size: 20px;
  color: #757575;
}

.main-left-subtitle strong {
  color: #004DB0;
}

.main-right {
  width: 35%;
  padding: 24px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.15), 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.main-right-title {
  font-size: 32px;
  margin-bottom: 24px;
}

.main-right-action {
  font-size: 14px;
}

.main-right-action > span > a {
  color: #004DB0;
  font-weight: 800;
}

/* Footer Section */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 28px;
  background-color: #F9BA48;
}

.footer-left a {
  color: #ffffff;
  margin-right: 24px;
  font-size: 18px;
  font-weight: 700;
}

.footer-right-icon {
  fill: #ffffff;
  margin-left: 42px;
}

